body{
    font-family:'Times New Roman', Times, serif;
    font-size: 25px ;
}
header{
    background: #23d531;
}

header img {
    position: absolute;          
    top: 20px;                   
    right: 20px;                 
    width: 120px;                
    height: auto;                
    border-radius: 8px;          
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
header h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ff5730;
}

nav{
    background: #bc68b6;
    display: inline-block;
    width: 100%;
    padding-right: 150px; 
}

nav img{
    width: 10%;
}

nav ul {
    list-style-type: none;      
    margin: 0;
    padding: 0;
    display: flex;              
    justify-content: center; 
  }
  
  
  nav ul li {
    margin: 0 15px;             
  }
  
  nav ul li a {
    text-decoration: none;      
    color: #4B0082;                
    font-weight: bold;
    padding: 10px 15px;         
    border-radius: 5px;
    transition: background-color 0.3s ease; 
  }
  
  
  nav ul li a:hover {
    background-color: #f0f0f0;  
    color: #8A2BE2;                
  }
  
main{
    background: #5ec0e4;
    font-size: 15px ;
    display: grid;
    grid-template-columns:40%, 40%;
    justify-content: space-around; 
    align-items: center;           
    row-gap: 20px;
}
footer{
    background: #cce02d;
}

}

p{
    line-height: 80%;
}
.div{
    display: grid;
    grid-template-columns:40%, 40%;
    justify-content: space-around; 
    align-items: center;           
    row-gap: 20px;
}
div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: space-around; 
  }
  
img {
    width: 48%; 
    margin-bottom: 20px; 
  }
  